<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit</title>
</head>
<body>

	<form action="/articles/<%= @article.id %>" method="POST">
		<h1>Title:<%= @article.title %></h1>
		<p>Content:<%= @article.content %></p>

		<input type="hidden" id="hidden" name="_method" value="PATCH">

		<label for="title">Title:</label>
		<input type="text" id="title" name="article[title]" value="<%= @article.title %>"><br>

		<label for="content">Content:</label><br>
		<textarea id="content" name="article[content]" rows="8" cols="80"><%= @article.content %></textarea><br>

		<input type="submit" id="submit" value="Edit Article">
	</form>

</body>
</html>
